@CHARSET "UTF-8";

/* -------------------------------------------------------------------- */
/* 		商品一覧画面													*/
/* -------------------------------------------------------------------- */

#product-list {
    width: 100%;
    margin: 0 auto;
    max-width: 1080px;
}

#product-list ul {
    list-style-type: none;
}

#product-list-box {
    width: 30%;
    float: left;
    text-align: center;
}

.item-image-box-250 {
	overflow: hidden;
    width: 200px;/* トリミングしたい枠の幅 */
    height: 200px;/* トリミングしたい枠の高さ */
    position: relative;
}

.item-image-box-250 img{
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	-webkit-transform: translate(-50%, -50%);
 	-ms-transform: translate(-50%, -50%);
 	transform: translate(-50%, -50%);
 	width: auto;
 	height: 100%;
}

@media (max-width: 700px) {
    #content {
        width: auto;
    }

	.item-image-box-250 {
		overflow: hidden;
	    width: 150px;/* トリミングしたい枠の幅 */
	    height: 150px;/* トリミングしたい枠の高さ */
	    position: relative;
	}
}