@CHARSET "UTF-8";

/* -------------------------------------------------------------------- */
/* 		商品詳細画面													*/
/* -------------------------------------------------------------------- */

.box{
	width: 100%;
	box-sizing: border-box;
}

.two-column-container{
    width: 80%;
    margin: 0 auto;
}

.right{
    float: left;
    width: 40%;
}

.left{
    float: left;
    width: 60%;
}

.submit_btn_box{
	width : 45%;
	display : block;
	margin-top : 5px;
	margin-bottom : 5px;
	margin-left : 3%;
	padding-left : 42%;
    padding-bottom: 20px;
	float : left;
}

.recommend-box{
    float: left;
    width: 30%;
    text-align: center;
}

.item-image-box-320 {
	overflow: hidden;
    width: 320px;/* トリミングしたい枠の幅 */
    height: 320px;/* トリミングしたい枠の高さ */
    position: relative;
}

.item-image-box-320 img{
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	-webkit-transform: translate(-50%, -50%);
 	-ms-transform: translate(-50%, -50%);
 	transform: translate(-50%, -50%);
 	width: auto;
 	height: 100%;
}

.item-image-box-170 {
	overflow: hidden;
    width: 170px;/* トリミングしたい枠の幅 */
    height: 170px;/* トリミングしたい枠の高さ */
    position: relative;
}

.item-image-box-170 img{
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	-webkit-transform: translate(-50%, -50%);
 	-ms-transform: translate(-50%, -50%);
 	transform: translate(-50%, -50%);
 	width: auto;
 	height: 100%;
}


@media (max-width: 900px) {
    #content {
        width: auto;
    }

	.item-image-box-320 {
			overflow: hidden;
		    width: 200px;/* トリミングしたい枠の幅 */
		    height: 200px;/* トリミングしたい枠の高さ */
		    position: relative;
		}
	.item-image-box-170 {
			overflow: hidden;
		    width: 100px;/* トリミングしたい枠の幅 */
		    height: 100px;/* トリミングしたい枠の高さ */
		    position: relative;
		}
	.vertical-list-table {
			max-width: 300px;
			font-size: 14px;
		}
}
