@CHARSET "UTF-8";

/* -------------------------------------------------------------------- */
/* 		商品一覧画面													*/
/* -------------------------------------------------------------------- */

#product-list {
    width: 100%;
    margin: 0 auto;
    max-width: 1080px;
}

#product-list ul {
    list-style-type: none;
}

#product-list-box {
    width: 30%;
    float: left;
    text-align: center;
}

.item-image-box-250 {
	width: 250px;
	height: 250px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 10px;
    background-size: cover;
}
