@CHARSET "UTF-8";

/* -------------------------------------------------------------------- */
/* 		商品一覧画面													*/
/* -------------------------------------------------------------------- */


.box{
	width: 100%;
}

.product-list {
    margin: 0 auto;
}
.product-list ul {
    list-style-type: none;
}

.product-list-box {
	display: inline-block;
    width: 30%;
    text-align: center;
}

.item-image-box-250 {
	overflow: hidden;
    width: 250px;/* トリミングしたい枠の幅 */
    height: 250px;/* トリミングしたい枠の高さ */
    position: relative;
    margin: 0 auto;
}

.item-image-box-250 img{
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	-webkit-transform: translate(-50%, -50%);
 	-ms-transform: translate(-50%, -50%);
 	transform: translate(-50%, -50%);
 	width: auto;
 	height: 100%;
}

.product-info{
	text-align: center;
}

@media (max-width: 900px) {
    #content {
        width: auto;
    }

	.item-image-box-250 {
		overflow: hidden;
	    width: 150px;/* トリミングしたい枠の幅 */
	    height: 150px;/* トリミングしたい枠の高さ */
	    position: relative;
	}
}