@CHARSET "UTF-8";

/* -------------------------------------------------------------------- */
/* 		商品詳細画面													*/
/* -------------------------------------------------------------------- */

.two-column-container{
    width: 100%;
    margin: 0 auto;
    max-width: 1080px;
}

.right{
    float: left;
    width: 40%;
}

.item-image-box-320{
    width: 320px;
    height: 320px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 5px;
    background-size: cover;
}

.left{
    float: left;
    width: 60%;
}

.submit_btn_box{
	width : 45%;
	display : block;
	margin-top : 5px;
	margin-bottom : 5px;
	margin-left : 3%;
	padding-left : 42%;
    padding-bottom: 20px;
	float : left;
}

.recommend-box{
    float: left;
    width: 30%;
    text-align: center;
}

.item-image-box-170{
    width: 170px;
    height: 170px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 5px;
    background-size: cover;
}

